/* Reset base e font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #000000; /* Sfondo leggermente grigio per stancare meno la vista */
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

/* Intestazione */
header h1 {
    font-size: 2.5rem;
    color: #dadc35;
    margin-bottom: 0.5rem;
}

header h2 {
    font-weight: 300;
    color: #7f8c8d;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Lista di link */
ul {
    list-style: none;
}

li {
    margin-bottom: 1rem;
}

/* Stile dei bottoni (Link) */
a {
    display: block;
    background-color: #4b4b4b;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: #dadc35;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: all 0.3s ease; /* Rende il cambio colore fluido */
    border: 1px solid #000000;
}

/* Effetti al passaggio del mouse */
a:hover, a:focus {
    background-color: #dadc35;
    color: rgb(0, 0, 0);
    transform: translateY(-3px); /* Effetto sollevamento */
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

a:active {
    transform: translateY(-1px);
}