html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
}

.title {
  position: absolute;
  line-height: 250%;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3dvh;
  margin-left: 4dvh;
  margin-right: 10dvh;
  z-index: 2;
}

.elemento:hover {
transition-property: all;
transition-duration: 350ms;
transition-timing-function: ease;
transition-delay: 0.5s;
animation-name: pulse;
animation-duration: 1s;
animation-timing-function: ease;
animation-delay: 0.2s;
animation-direction: alternate;
animation-fill-mode: both;
animation-iteration-count: infinite;
}

.elemento {
  position: absolute;
  bottom: 25%;
  z-index: 1;
}

.gatto:hover {
    animation: tremolio 0.1s linear infinite;
}

.gatto {
  position: absolute;
  bottom: 25%;
  z-index: 1;
}

.vaso:hover {
    animation: tremolio 0.1s linear infinite;
}

.vaso {
  position: absolute;
  margin-bottom: -8dvh;
  margin-left: 2dvh;
  bottom: 15%;
}

.piantina {
  position: absolute;
  bottom: 5%;
  z-index: 3;
  height: 20%;
  width: auto;
  transform: rotate(80deg);
  margin-bottom: -2dvh;
  margin-left: 32dvh;
  margin-right: 10dvh;
}


.fiori {
  position: absolute;
  bottom: 20%;
  z-index: 3;
  height: 25%;
  width: auto;
  transform: rotate(80deg);
  margin-bottom: -20dvh;
  margin-left: 35dvh;
  margin-right: 10dvh;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 24px;
  }

  .body {
    background-size: 50%;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: row;
  }

  .title {
    position: absolute;
    font-size: 2.2rem;
    line-height: 250%;
    color: #000000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3dvh;
    margin-left: 10dvh;
    margin-right: 230dvh;
    z-index: 2;
  }

.gatto:hover {
    animation: tremolio 0.1s linear infinite;
}



.title h1 {
    color: #000000; 
    transition: all 0.3s ease; 
    cursor: pointer;
    text-shadow: none;
}


.title h1:hover {
    color: #fff; 
    
    text-shadow: 
        0 0 7px #fff,        /* Bagliore interno bianco */
        0 0 10px #fff,       /* Bagliore medio bianco */
        0 0 21px #ce0000,    /* Inizio colore neon */
        0 0 42px #ce0000,    /* Diffusione colore neon */
        0 0 82px #ce0000,    /* Bagliore ampio */
        0 0 92px #ce0000;    /* Riflesso lontano */
        
    transform: scale(1.02);
}
  
  .elemento {
    position: absolute;
    height: 65%;
    bottom: 25%;
    z-index: 1;
    left: 25%;
  }

  .gatto {
    position: absolute;
    bottom: 30%;
    z-index: 1;
    left: 20%;
  }


  .vaso {
    position: absolute;
    height: 22%;
    margin-bottom: -8dvh;
    margin-left: -4dvh;
    bottom: 18%;
    left: 45%;
    z-index: 2;
  }

  .piantina {
    position: absolute;
    bottom: 5%;
    z-index: 3;
    height: 30%;
    width: auto;
    transform: rotate(80deg);
    margin-bottom: -2dvh;
    margin-left: 32dvh;
    margin-right: 10dvh;
    left: 50%;
  }


  .fiori {
    position: absolute;
    bottom: 20%;
    z-index: 3;
    height: 45%;
    width: auto;
    transform: rotate(80deg);
    margin-bottom: -20dvh;
    margin-left: 35dvh;
    margin-right: 10dvh;
    left: 50%;
  }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


.title h1 {
    color: #000000; 
    transition: all 0.3s ease; 
    cursor: pointer;
    text-shadow: none;
}

.title h1:hover {
    color: #fff; 
    
    text-shadow: 
        0 0 7px #fff,        
        0 0 10px #fff,      
        0 0 21px #ce0000,  
        0 0 42px #ce0000,  
        0 0 82px #ce0000,    
        0 0 92px #ce0000;   
        
    transform: scale(1.02);
}
  


@keyframes pulse {
from {
transform: scale(100%);
}
to {
transform: scale(150%);
}
}

@keyframes tremolio {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0, 0); }
}