html {
    font-size: 16px;
    /* 16px = 1rem */
    font-family: Arial, Helvetica, sans-serif;
}

/* 
CLASSI DI SPACING

0.25 rem = 4px
0.5 rem = 8px
1 rem = 16px
1.5 rem = 24px
2 rem = 32px
3 rem = 48px 
*/

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 2rem !important;
}

.m-6 {
    margin: 3rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

.mt-6 {
    margin-top: 3rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 2rem !important;
}

.mb-6 {
    margin-bottom: 3rem !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 2rem !important;
}

.ms-6 {
    margin-left: 3rem !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.me-4 {
    margin-right: 1.5rem !important;
}

.me-5 {
    margin-right: 2rem !important;
}

.me-6 {
    margin-right: 3rem !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 2rem !important;
}

.m-6 {
    margin: 3rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

.mt-6 {
    margin-top: 3rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 2rem !important;
}

.mb-6 {
    margin-bottom: 3rem !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 2rem !important;
}

.ms-6 {
    margin-left: 3rem !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.me-4 {
    margin-right: 1.5rem !important;
}

.me-5 {
    margin-right: 2rem !important;
}

.me-6 {
    margin-right: 3rem !important;
}


.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-5 {
    padding: 2rem !important;
}

.p-6 {
    padding: 3rem !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pt-5 {
    padding-top: 2rem !important;
}

.pt-6 {
    padding-top: 3rem !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 2rem !important;
}

.pb-6 {
    padding-bottom: 3rem !important;
}

.ps-1 {
    padding-left: 0.25rem !important;
}

.ps-2 {
    padding-left: 0.5rem !important;
}

.ps-3 {
    padding-left: 1rem !important;
}

.ps-4 {
    padding-left: 1.5rem !important;
}

.ps-5 {
    padding-left: 2rem !important;
}

.ps-6 {
    padding-left: 3rem !important;
}

.pe-1 {
    padding-right: 0.25rem !important;
}

.pe-2 {
    padding-right: 0.5rem !important;
}

.pe-3 {
    padding-right: 1rem !important;
}

.pe-4 {
    padding-right: 1.5rem !important;
}

.pe-5 {
    padding-right: 2rem !important;
}

.pe-6 {
    padding-right: 3rem !important;
}

body {
    background-color: #ffffff;
}


.container {
    background-image: url(images/immagine_es_1.jpg);
    align-items: flex-end;
    height: 70dvh;
    background-repeat: no-repeat;
    background-size: 60dvh;
    display: flex;
    position: relative;
}


.title {
    font-family: 'Helvetica';
    font-size: 1.5rem;
    color: #000000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 3dvh;
    margin-left: 4dvh;
}


.info {
    font-family: 'Helvetica';
    color: #000000;
    font-size: 0.5rem;
    text-align: left;
    flex-direction: column;
    column-count: 3;
    column-gap: 25px;
    margin-bottom: -130px;
    margin-left: 4dvh;
    margin-right: 4dvh;
}

.text {
    padding-top: 1.5rem;
    }




/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .container {
        flex-direction: row;
        height: 100vh;
            align-items: flex-end;
    background-repeat: no-repeat;
    background-size: 80dvh;

    }

    .hero-image {
        width: 40%;
        height: 100vh;
    }

    .content {
        width: 50%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
    }

    .title {
        margin-bottom: 4rem;
    }

    .title h1 {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .title h2 {
        font-size: 5rem;
    }

    .info {
        display: flex;
        flex-direction: row;
        gap: 3rem;
                margin-bottom: -14px;
        margin-right: 4dvh;
    }

    .info-item {
        flex: 1;
    }

    .info-item h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .info-item p {
        font-size: 0.875rem;
        line-height: 1.6;
    }

}


/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}